.iron-forge-footer-section {
  background: #000000;
  padding-top: 50px;
}
.iron-forge-footer-section .container{
  max-width: 1170px;
  margin: 0 auto;
}
.iron-forge-footer-section .container .row {
  display: flex;
}
.iron-forge-footer-section .container .row .col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}
.iron-forge-footer-section .container .row .iron-forge-footer-info {
  color: #c4c4c4;
}
.iron-forge-footer-section .container .row .iron-forge-footer-info img {
  max-width: 25%;
}
.iron-forge-footer-section .container .row .iron-forge-footer-info .list-social .list-social__item  .list-social__link {
  color: #c4c4c4;
}
.iron-forge-footer-section .container .row .iron-forge-footer-info .list-social {
  justify-content: flex-start;
}
.iron-forge-footer-section .container .row .iron-forge-footer-links h4 {
  color: #ffffff;
  font-family: 'Oswald' ,sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
}
.iron-forge-footer-section .container .row .iron-forge-footer-links ul {
  list-style: none;
  padding-left: 0px;
}
.iron-forge-footer-section .container .row .iron-forge-footer-links ul li {
  color: #c4c4c4;
}
.iron-forge-footer-section .container .row .iron-forge-footer-links ul li a {
  text-decoration: none;
  color: #c4c4c4;
}